html, body{
    background-color: black;
    margin: 0;
}

header{
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 100%;
}

.button-container{
    display: flex;
    justify-content: end;
    padding-right: 100px;
    padding-top: 35px;
    margin-bottom: 35px;
}

button{
    border: 0;
    background-color: white;
    font-weight: 700;
}

.stroke{
    background-color: rgb(185, 125, 70);
    padding: 3px;
    font-family: 'Arial', sans-serif;
}

ul{
    display: flex;
    gap: 20px;
}

li{
    list-style: none;
}

.text-header{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.films{
    width: 300px;
}

.bestel-tickets{
    background-color: white;
    color: rgb(185, 125, 70);
    text-decoration: none;
    font-weight: bold;
}
